body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: #1C5D99;
    color: #fff;
    padding: 1rem 1;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 8px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 1rem;
}

h1 {
    color: #222222;
    padding: 0rem;
}

section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f0f8ff; 
    padding: 2rem; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.image1 {
    width: 150px;
    height: 150px;
    margin-right: 2rem;
}

.image2 {
    width: 150px;
    height: 150px;
    margin-right: 2rem;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.intro {
    font-size: 1.3rem;
    color: #333;
    line-height: 1.8;
    margin-top: 1rem;
}

footer {
    background: #1C5D99;
    color: #fff;
    text-align: center;
    padding: 1rem 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 0%;
}
